{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "plugins": ["vue"],
  "rules": {
    "linebreak-style": "off"
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack.config.js"
      }
    }
  }
}
